<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Monero Explorer{% endblock %}</title>
    <link rel="shortcut icon" href="/images/monero.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/css/brutalism.css">
    <link rel="stylesheet" href="/css/{{ mode }}.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <script src="/js/htmx.js"></script>
    <nav>
        <div class="container">
            <div class="row">
                <a href="/" class="button col">Home</a>
                <a href="https://monero.fail" target="_blank" class="button col">Nodes</a>
                <a href="https://monerica.com/" target="_blank" class="button col">Directory</a>
                <a href="https://www.revuo-xmr.com/" target="_blank" class="button col">News</a>
                {% if mode == "dark" %}
                    <a class="button" href="?mode=light"><img src="/images/light.png" /></a>
                {% else %}
                    <a class="button" href="?mode=dark"><img src="/images/dark.png" /></a>
                {% endif %}
            </div>
        </div>
    </nav>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
