<div class="mempool-summary">
    <div class="mempool-stats">
        <p><strong>{{ total_count }}</strong> transactions in mempool. Showing {{ tx_count }}.</p>
    </div>
    
    <div class="mempool-txs">
        {% for tx in txes %}
        <div class="mempool-tx-item">
            <div class="tx-hash">
                <strong>
                    <a href="/tx/{{ tx.tx_hash }}">
                        {{ tx.tx_hash_clean }}
                    </a>
                </strong>
                <span class="tx-size">receved {{ tx.age }} seconds ago</span>
            </div>
            <div class="tx-info">
                <span class="tx-fee">{{ tx.fee }} XMR fee</span>
                <span class="tx-size">({{ tx.tx_size }} kB)</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
